.reward-component {
    max-width: 250px;
    border: thin solid grey;
    padding: 10px 20px 20px 20px;
    font-size: 16px;
    margin-top: 20px;

}

.reward-component:hover {
    background-color: lightgreen;
}

.reward-name {
    font-weight: bold;
}

.grey {
    color: grey;
}

.rewards-includes-title,
.rewards-delivery-title {
    font-size: 10px;
    margin-bottom: 0;
}

.includes-list {
    margin-top: 0;
}

.rewards-delivery-value {
    margin-top: 0;
}

.choose-reward {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    font-size: large;
    font-weight: bold;
}

#rewards-boxen * {
    display: inline-block;
    border-radius: 10px;
    padding: 3px 10px 3px 10px;
    font-size: 12px;
    margin: 2px;
}

#rewards-backers-box {
    background-color: rgb(243, 243, 243);
}

#rewards-remaining-box {
    background-color: rgb(255, 242, 236);
}

#rewards-delivery {
    display: grid;
    column-gap: 10px;
}

#rewards-delivery-left {
    grid-column: 1;
}

#rewards-delivery-right {
    grid-column: 2;
}

.includes-list{
    margin:0;
    padding: 0 0 0 10px;
    list-style-position: inside;
}
