.quick-select {
    border-color: #E8E8E8;
    border-bottom: 0.1rem solid #DCDEDD;
    position: relative;
  }

  .quick-select__container {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .quick-select__container * {
    box-sizing: inherit;
    margin-left: 0.4em;
  }

  .update-font-big {
    font-size: 1.55rem;
    line-height: 2.3rem;
    margin-bottom: 1.2em;
  }

  .update-image-resize {
    width: 50%;
    height: auto;
    margin-left: 3em;
    margin-right: 1em;
    margin-top: 2em;
  }

  .updates-wrapper {
    margin-top: 4em;
    border-top: 0.1rem solid #DCDEDD;
    padding-top: 4em;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial,
    "Liberation Sans", FreeSans, sans-serif;
  }

  .updates-format {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .updates-indent {
    width: 50%;
    margin-top: 1.1em;
    margin-right: 4em;
    /* padding-left: 1em; */
  }

  .updates-title {
    font-size: 2.75rem;
    line-height: 1rem;
    margin-bottom: 1.2em;
    margin-left: 1em;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial,
      "Liberation Sans", FreeSans, sans-serif;
  }

  .updates-paragraph {
    font-size: 1.55rem;
    margin-left: 2em;
  }

  .updates-link {
    margin-left: 0.5em;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial,
      "Liberation Sans", FreeSans, sans-serif;
  }

  .green-left-border {
    border-left: 0.6rem solid #53865f;
    margin-left: 0.5em;
  }

  .quick-select__navigation-list {
    white-space: nowrap;
    display: flex;
    list-style-type: none;
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    align-content: center;
  }

  .quick-select__navigation {
    width: 100%;
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
  }

  .quick-select__content-wrapper {
    margin-left: 2.4rem;
    margin-right: 2.4rem;
    display: flex;
  }

  .quick-select__navigation-link {
    position: relative;
    display: inline-block;
    margin-left: 2rem;
    margin-right: 2rem;
    outline: none;
    text-decoration: none !important;
    color: #656969;
    font-size: 1.55rem;
    line-height: 2.3rem;
  }

  .quick-select__navigation-navlink {
    color: inherit;
    text-decoration: inherit;
  }

  .quick-select__navigation-link:after {
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #034752;
    content: '';
    opacity: 0;
    transition: height 0.3s, opacity 0.5s, transform 0.3s, color 0.3s;
    transform: translateY(-5px);
  }

  .quick-select__navigation-link:hover::after {
    opacity: 1;
    height: 2px;
    transition: height 0.3s, opacity 0.5s, transform 0.3s, color 0.3s;
    transform: translateY(-0px);
  }

  .landing-title {
    font-size: 1.75rem;
    line-height: 4.5rem;
    font-weight: 100;
    margin-bottom: 0;
    margin-top: 0;
    color: #282828;
    display: flex;
    flex-direction: column;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial,
      "Liberation Sans", FreeSans, sans-serif;
    align-items: center;
  }

  .landing-subtitle {
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-weight: 100;
    margin-bottom: 1.2rem;
    margin-top: 0;
    color: grey;
    display: flex;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial,
      "Liberation Sans", FreeSans, sans-serif;
    flex-direction: column;
    align-items: center;
  }


  div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
    }
    .caption {
        display: block;
        font-size: 1.2rem;
        margin-right: 1em;
    }

    .quick-select__navigation-link2 {
      position: relative;
      display: inline-block;
      margin-left: 1rem;
      margin-right: 1rem;
      outline: none;
      text-decoration: none !important;
      color: #656969;
      font-size: 1.55rem;
      line-height: 2.3rem;
    }

    .quick-select__navigation-link2:after {
      position: absolute;
      top: 90%;
      left: 0;
      width: 100%;
      height: 1px;
      background: #034752;
      content: '';
      opacity: 0;
      transition: height 0.3s, opacity 0.5s, transform 0.3s, color 0.3s;
      transform: translateY(-5px);
    }
