.featured-wrapper {
    display: grid;
    justify-content: end;
    margin-top: 4em;
    /* vertical-align: middle; */
    max-width: 100%;
    margin-right: 4em;
}

.featured-wrapper2 {
    display: flex;
    flex-direction: column;
    margin-top: 4em;
    margin-left: 1.5em;
    margin-right: auto;
    max-width: 50%;
    border-left: 0.1rem solid #DCDEDD;
    padding-left: 6em;
}


.rec-wrapper {
    flex-direction: row;
    display: flex;
    border-bottom: 0.1rem solid #DCDEDD;
    padding-bottom: 1em;
    margin-bottom: 1.5em;
}

.rec-wrapper2 {
    flex-direction: row;
    display: flex;
    border-bottom: 0.1rem solid #DCDEDD;
    padding-bottom: 1em;
    margin-bottom: 0;
}

.rec-child1 {
    margin-right: 0.5em;
}

.rec-child2 {
    margin-left: 0.5em;
}

.rec-no-wrap {
    white-space: nowrap;
}

.rec-green-small {
    color: #417947;
    font-size: 1.2rem;
    line-height: 1.22rem;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    white-space: nowrap;
}

.rec-small {
    font-size: 1.2rem;
}


nav a{
    text-decoration:none;
    color: #282828;
}

.featured-image {
    max-width: 100%;
    /* object-fit: contain; */
    width: auto;
    zoom: 2.2;
}

.featured-title {
    color: #000000;
    font-size: 1.3rem;
    line-height: 2.3rem;
    margin-bottom: 1.2em;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial,
    "Liberation Sans", FreeSans, sans-serif;}

.featured-name {
    color: #000000;
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 0.5em;
    white-space: nowrap;
}

.featured-name2 {
    color: #000000;
    font-size: 1.75rem;
    line-height: 2rem;
    margin-bottom: 0.5em;
    white-space: nowrap;
}

.featured-name3 {
    color: grey;
    font-size: 1.25rem;
    line-height: 2rem;
    margin-bottom: 0.75em;
    white-space: nowrap;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 8em;
}

.search-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    margin-right: 4em;
    margin-left: 8em;
}

.search-image {
    max-width: 100%;
    object-fit: contain;
    width: auto;
    zoom: 2;
}

.search-name {
    color: #000000;
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 0.5em;
    /* white-space: nowrap; */
    width: auto;
}

.search-name2 {
    color: #000000;
    font-size: 1.75rem;
    line-height: 2rem;
    margin-bottom: 0.5em;
    white-space: normal;
    width: auto;
}

.search-name3 {
    color: grey;
    font-size: 1.25rem;
    line-height: 2rem;
    margin-bottom: 0.75em;
    width: auto;
    /* white-space: nowrap; */
}

.search-push-right {
    margin-left: 10em;
}

.search-width {
    width: 100%;
    margin-top: 2em;
    margin-left: 2em;
  }


.landing-helper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
    width: 100%;
    margin-left: 1em;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial,
    "Liberation Sans", FreeSans, sans-serif;}

nav a{
    text-decoration:none;
}

.explore-blue-color {
    color: #0a5095;
}
