@import "NavBar.css";
@import "ProfileButton.css";
@import "CategoryBar.css";
@import "InfoBar.css";
@import "FeaturedProduct.css";
@import "Login.css";
@import "Signup.css";
@import "CreateProject.css";
@import "Updates.css";
@import "Discover.css";
@import "CreateReward.css";

html {
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial,
      "Liberation Sans", FreeSans, sans-serif;
    font-size: 62.5%;
    font-weight: 400;
    line-height: 1;
    max-height: 100%;
  }

  body {

    max-height: 100vh;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #282828;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .page-container {
    position: relative;
    min-height: 100vh;
  }


nav a{
        text-decoration:none;
        color: #282828;
        margin-left: 2em;
}

a:link {
  text-decoration: none;
  color: #282828;
  font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial,
      "Liberation Sans", FreeSans, sans-serif;
}


a:visited {
  text-decoration: none;
  color: #282828;
  font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial,
      "Liberation Sans", FreeSans, sans-serif;
}


a:hover {
  text-decoration: none;
  color: #282828;
  font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial,
      "Liberation Sans", FreeSans, sans-serif;
}


a:active {
  text-decoration: none;
  color: #282828;
  font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial,
  "Liberation Sans", FreeSans, sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}

.hover-green:hover{
  border: 1px solid #037362;
}
