.button {
    width: 40px;
    height: 40px;
    /* padding: 0 7px; */
    font-size: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #717171;
    background-color: white;
    border-radius: 50%;
    border: 15px solid rgb(0, 81, 0);
}

img.profile-icon {
    justify-content: center;
    align-items: center;
    display: flex;
    /* object-fit: cover; */
    margin-left: 4.66em;
    margin-bottom: 0.033em;
}

img.profile-icon2 {
    /* justify-content: center;
  align-items: center;
  display: flex;
  object-fit: cover; */
}

.button:focus {
    box-shadow: 0px 5px 2px rgba(128, 128, 128, 0.075);
}

.button:hover {
    box-shadow: 0px 5px 2px rgba(128, 128, 128, 0.075);
}

.fa-bars {
    font-size: 16px;
    padding-left: 10px;
    color: black;
}

.signed-in {
    align-items: center;
    justify-content: center;
}


.logged-in {
    font-size: 14px;
    text-align: left;
    margin: 10px;
}


.fa-sharp {
    font-size: 20px;
}

.nav-wrapper {
    display: flex;
    justify-content: center;
    position: fixed;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 1;
    top: 0px;
    width: 100%;
    padding: 16px 5%;
    background-color: white;
    border-bottom: 1px solid rgba(128, 128, 128, 0.075);
}

.details {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.width {
    max-width: 1120px;
}

.logged-in-nav {
    display: flex;
    align-items: center;
    /* column-gap: 1rem; */
    height: 60px;
}

.host {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    height: 37px;
    width: 130px;
    border-radius: 10px;
    font-size: 1.1rem;
}

.host:hover {
    background-color: rgb(244, 244, 244);
}

.drop-down {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    transform: translateX(-70%);
    background-color: white;
    height: 100px;
    width: 150px;
    list-style-type: none;
    font-size: 1rem;
    top: 80px;
    border: 1px solid rgba(128, 128, 128, 0.075);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.075);

}

.log-out {
    height: 16px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: pointer;
    margin: 10px;
}

.log-out:hover {
    background-color: rgba(128, 128, 128, 0.075);
}

.test-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 17.5px;
    width: 85%;
}

.link-to-backings {
    margin-right: 30%;
}
