.reward-component{
    max-width: 250px;
    border: thin solid grey;
    margin: 100px 100px auto auto;
    padding: 10px 20px 20px 20px;
    font-size: 16px;
}

.reward-name{
    font-weight: bold;
}

.grey{
    color: grey;
}

.rewards-includes-title, .estimated-delivery-title{
    font-size:14px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.includes-list{
    margin-top: 0;
}

.estimated-delivery-date{

}
