.update-name {
    color: #000000;
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 0.5em;
    white-space: nowrap;
}

.update-name2 {
    color: #000000;
    font-size: 1.25rem;
    margin-bottom: 0.5em;
}

.update-name3 {
    font-size: 1.25rem;
    line-height: 2rem;
    margin-bottom: 0.75em;
}
